<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="user_profile_out.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <main class = "main-container">
        <div class="columna-izq">
            <div class="volver-section">
                <button>← Volver</button>
            </div>
            <!--Perfil-->
            <div class="perfil-section">
                <div class="profile-avatar">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="user-info">
                    <div class="user-name">
                        UserName
                    </div>
                    <div class="user-lvl">
                        Nivel 100
                    </div>
                </div>
            </div>
            <div class="racha-section">
                <div class="icono-racha">
                    <i class='bx bxs-hot streak-icon'></i>
                </div>
                <div class="info-racha">
                    15 días de racha
                </div>
            </div>
        </div>

        <div class="columna-der">
            <!--Liga-->
            <div class="liga-section">
                <div class="liga-puntos">
                    500 Puntos
                </div>
                
                <div class="icono-liga">

                </div>
                <div class="liga-nombre">
                    Diamante
                </div>
                
            </div>
            <div class="liga-section">
                <div class="liga-puntos-ant1">
                    Puntos del mes anterior
                </div>
                <div class="liga-puntos-ant2">
                    1500 puntos
                </div>
                
            </div>
        </div>

        <div class="tarea-section">
            <div class="tarea-card">
                <div class="tarea-info">
                    <div class="tarea-label">Tareas Completadas</div>
                    <div class="tarea-valor">15 tareas </div>
                </div>
                <div class="tarea-icono tarea-icono-verde">
                    <i class='bx bx-task'></i>
                </div>
            </div>

            <div class="tarea-card">
                <div class="tarea-info">
                    <div class="tarea-label">Experiencia Ganada</div>
                    <div class="tarea-valor">15 xp</div>
                </div>
                <div class="tarea-icono tarea-icono-morado">
                    <i class='bx bxs-medal'></i>
                </div>
            </div>

        </div>


        <!--Logros-->

        <!--Acciones-->

    </main>
</body>
</html>