.cabecera {
    width: 100%; 
    height: 42%; 
    background-color: #FFFFFF; 
    border: 2px solid #FFFFFF; 
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /*Centra elementos en el contenedor */
    border-radius: 0px 0px 30px 30px; 
}
.cabecera img {
    height: 70%;
    min-height: 100px; /* Altura mínima para la imagen */
    width: auto; /* Mantiene las proporciones */
    object-fit: contain; /* Espacio entre imagen y texto */
}
.resto {
    height: 58%;

}
html{
    height:100%;
    width: 100%;
}
body {      
            height: 100%;
            margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, sans-serif;
            background: #FEC939;
}
h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            text-align: center;
}
/* Estilos para los botones
Bueno, ya no son botones, son hipervínculos que parecen botones */
a.login, a.registro {
    margin: 2% 0% 0% 1%;
    width: 57%;
    border-radius: 50px;
    padding: 0.75em 2em;
    font-size: 1.2rem;
    border: 4px solid #000000;
    background: #0078d4;
    color: #000;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.registro {
    background: white;
}
a.login:hover, a.registro:hover {
    background: #005a9e;
}
@media (max-width: 800px) {
            h1 {
                font-size: 1.5rem;
            }
            button {
                font-size: 1rem;
                padding: 0.6em 1.2em;
            }
}