<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Time - Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/home.css}">
    <link rel="stylesheet" th:href="@{/loader.css}">
</head>
<body>
    <!--Pantalla de carga-->
    <div th:replace="~{fragments :: loadingScreen}"></div>
    <!--Sección Anuncios-->
    <div class="container-advertisements">
        <!--Reto Semanal-->
        <div class="reto-section">
            <div class="reto-header">
                <h1>DESAFÍO SEMANAL</h1>
            </div>
            <div class="reto-body">
                <p>Título</p>
                <p>Descripción de la tarea semanal...</p>
                <p>Puntaje: 500 XP</p>
                <button class="reto-button">Aceptar Desafío</button>
            </div>
        </div>

        <!--Clasificación (TOP)-->
        <div class="top-section">
            <div class="top-header">
                <h1>TOP GLOBALES</h1>
            </div>
            <div class="top-body">
                <div class="top-user">
                    <div class="top-position">1</div>
                    <div class="top-user-icon"><i class='bx bx-user'></i></div>
                    <div class="top-user-name">User 1</div>
                    <div class="top-user-points">X Puntos</div>
                </div>
                <div class="top-user">
                    <div class="top-position">2</div>
                    <div class="top-user-icon"><i class='bx bx-user'></i></div>
                    <div class="top-user-name">User 2</div>
                    <div class="top-user-points">Y Puntos</div>
                </div>
                <div class="top-user">
                    <div class="top-position">3</div>
                    <div class="top-user-icon"><i class='bx bx-user'></i></div>
                    <div class="top-user-name">User 3</div>
                    <div class="top-user-points">Z Puntos</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección Información -->
    <div class="container-info">
        <div class="info-left">
            <!--Perfil de Usuario-->
            <div class="info-section">
                <div class="user-profile-top">
                    <div class="user-top">
                        <p th:text="${usuario.nivelExperiencia}"></p>
                    </div>
                    <div class="user-info">
                        <strong><p th:text="${usuario.nombreUsuario}" class="username"></p></strong>
                        <p th:text="${usuario.correoElectronico}"></p>
                    </div>
                    <div class="user-avatar"></div>
                </div>
                <div class="streak-section">
                    <h1 class="streak-title">Racha Actual</h1>
                    <div class="streak-line"></div>
                    <div class="streak-content">
                        <p class="streak-days">15 días</p>
                        <i class='bx bxs-hot streak-icon'></i>
                    </div>
                </div>
                <div class="info-buttons">
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="logout" onclick="return confirm('¿Estás seguro de que quieres cerrar la sesión?');">
                            Cerrar Sesión
                        </button>
                    </form>
                    <form th:action="@{/borrar-cuenta}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="borrar" onclick="return confirm('¡ATENCIÓN! ¿Estás seguro de que quieres eliminar tu cuenta? Esta acción es permanente y no se puede deshacer.');">
                            Borrar Cuenta
                        </button>
                    </form>
                </div>

            </div>
            <!--Clima-->
            <div class="clima-section">
                <div class="clima-hora"><p>12:30</p></div>
                <div class="clima-main-content">
                    <div class="clima-icon">
                        <i class='bx bx-cloud-rain'></i>
                    </div>
                    <div class="clima-info">
                        <p>15°C</p>
                        <p>Humedad: 75%</p>
                    </div>
                </div>
                <div class="clima-status">
                    <h2>Lluvioso</h2>
                </div>
            </div>
        </div>
        <div class="info-right">
            <!--Copas-->
            <div class="copa-section">
                <p>x Puntos</p>
                <img th:src="@{/copa.png}" alt="copa">
                <p>x Liga</p>
            </div>
            <!--Logo-->
            <div class="logo-section">
                <img th:src="@{/logo_negro.png}" alt="logo_negro">
            </div>
        </div>
    </div>

    <!--Sección Tareas-->
    <div class="container-task">
        <!--Tareas Pendientes-->
        <div class="task-section">
            <div class="task-header">
                <h1>Tareas Pendientes</h1>
            </div>
            <div class="task-list">
                <button class="task-item open-modal"
                        th:each="tarea, stat : ${tareas}"
                        th:if="${stat.index < 4}"
                        th:text="${tarea.nombre}"
                        th:attr="data-nombre=${tarea.nombre},
                        data-descripcion=${tarea.descripcion},
                        data-experiencia=${tarea.exp},
                        data-expira=${tarea.fechaExpiracion}">
                </button>
                <p th:if="${#lists.isEmpty(tareas)}">No tienes tareas anotadas.</p>
            </div>
            <div class="task-buttons">
                <a th:href="@{/nueva-tarea}">Agregar Tarea</a>
            </div>
        </div>
    </div>
    
    <!--Sección Historial-->
    <div class="container-history">
        <h2>Historial de tareas</h2>
        <div class="view-section">
            <div class="param-bar">
            <span>Nombre</span>
            <span>Descripción</span>
            <span>Puntos</span>
        </div>
        <div class="more-section">
            <button>Mostrar Todo</button>
        </div>
    </div>

    <div class="modal" id="taskModal">
        <div class="modal-content">
            <button class="close-btn" id="closeModal">X</button>
            <h2 id="modalTitle"></h2>
            <p><strong>Descripcion:</strong> <span id="modalDescription"></span></p>
            <p><strong>Vale:</strong> <span id="modalExp"></span></p>
            <p><strong>Expira:</strong> <span id="modalExpire"></span></p>
            <button id="deleteButton">Eliminar Tarea</button>
            <form id="deleteForm" th:action="@{/eliminar-tarea}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="nombreTarea" id="deleteTaskId">
            </form>
            <button id="completeButton" class="">Marcar como completada</button> 
            <form id="completeForm" th:action="@{/completar-tarea}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="nombreTarea" id="completeTaskId">
            </form>
        </div>
    </div>

    <script>
        const modal = document.getElementById("taskModal");
        const openButtons = document.querySelectorAll(".open-modal")
        const modalTitle = document.getElementById("modalTitle");
        const modalDescription = document.getElementById("modalDescription");
        const modalExp = document.getElementById("modalExp");
        const modalExpire = document.getElementById("modalExpire");
        const closeModal = document.getElementById("closeModal");

        const deleteTaskId = document.getElementById("deleteTaskId");
        const deleteForm = document.getElementById("deleteForm");

        const completeTaskId = document.getElementById("completeTaskId");
        const completeForm = document.getElementById("completeForm");

        document.getElementById("deleteButton").addEventListener("click", () => {
            deleteTaskId.value = modalTitle.textContent;
            deleteForm.submit();
        })

         document.getElementById("completeButton").addEventListener("click", () => {
            completeTaskId.value = modalTitle.textContent;
            completeForm.submit();
        })


        // Show modal with task info
        openButtons.forEach(btn => {
            btn.addEventListener("click", () => {
                modalTitle.textContent = btn.dataset.nombre;
                modalDescription.textContent = btn.dataset.descripcion;
                modalExp.textContent = btn.dataset.experiencia + " XP";
                modalExpire.textContent = btn.dataset.expira;
                modal.style.display = "flex";
            });
        });

        // Close modal
        closeModal.addEventListener("click", () => {
            modal.style.display = "none";
        });
    </script>
    <script>
        window.onload = function() {
            const loader = document.getElementById('loader-wrapper');
            
            // Simulamos 1.4 segundos
            setTimeout(function() {
                loader.style.display = 'none';
            }, 1420); 
        };
    </script>
</body>
</html>
