<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoodTime</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="loginreal.css">
</head>
<body>
    <div class="container">
        <!-- Sección del Login -->
        <div class="login-section">
            <h1>Inicio de Sesión</h1>
            <form th:action="@{/login}" method="post">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario" required>
                <i class='bx bxs-user'></i>

                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" required>
                <i class='bx bxs-lock-alt' ></i>
                
                <p th:if="${error}" th:text="${error}" style="color: red;"></p>

                <a href="#">¿Olvido su contraseña?</a>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
        <!-- Sección del Register -->
        <div class="register-section">
            <h2>Bienvenido a Good Time</h2>
            <p id="p1">Cambia horas perdidas por metas cumplidas. Aprende, crea, crece, y desconéctate de lo que no suma.</p>
            <p id="p2">Crea tu cuenta y súmate</p>
            <button type="submit" class="btn-login">Registrarse</button>
            <img src="logo_negro.png" alt="logo">
        </div>
        
    </div>
</body>
</html>
