* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6b332;
}

.container-header {
  background-color: #181818;
  height: 10vh;
  display: flex;
}

.volver-section {
  width: 79vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  padding-left: 1%;
}

.logo {
  width: 6vw;
  height: auto;
  display: block;
  object-fit: contain;
}
.btn-volver {
  background-color: #ffc839;
  color: #181818;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1rem;
  border: none;
  transition: all 0.3s ease;
}
.btn-volver:hover {
  background-color: #e6b332;
}

.perfil-section {
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: #e6b332;
}

.user-lvl {
  border-radius: 15px;
  background-color: white;
  height: 80%;
  width: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  align-items: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-lvl p1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.user-lvl p2 {
  font-size: 1rem;
}

.user-info {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-info p1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.user-info p2 {
  font-size: 1rem;
}

.container-main {
  display: flex;
  height: 90vh;
  align-items: stretch;
}
.container-left {
  height: 90vh;
  width: 62vw;
}
.container-rigth {
  height: 90vh;
  width: 100%;
}

.container-body {
  margin: 2vh;
  height: auto;
  width: 60vw;
  padding: 1%;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.container-body h1 {
  font-size: 1.5rem;
  color: #333;
}

.info-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 1vh;
}

.form-grupo {
  display: flex;
  flex-direction: column;
}
/*Titulo del input*/
.form-grupo label {
  margin-bottom: 0.5vh;

  font-size: 1rem;
  color: #666;
}
/*Cuadro de input*/
.form-grupo input {
  padding: 1%;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 10px;
  color: #333;
  font-size: 1rem;
  border: none;
}

.btn-guardar {
  align-self: flex-end;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
  color: white;
  background-color: #333;
}

.container-description {
  margin: 1vw 1vw 1vw 0vw;
  width: 36vw;
  height: auto;
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 1vw;
}

.container-description h1 {
  font-size: 1.5rem;
}

.container-description p {
  font-size: 1rem;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}

.container-img img {
  height: 18vw;
}

.container-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 2%;
  height: 30vh;
  width: 100%;
  margin-top: auto;
  margin-bottom: 1vh;
  padding-bottom: 2vh;
  padding-right: 2vw;
}

.btn-cerrar_sesion {
  margin-top: auto;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
  color: #333;
  background-color: white;
}

.btn-borrar_cuenta {
  margin-top: auto;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 30%;
  color: white;
  background-color: #d9534f;
}

.container-buttons form {
  margin: 0;
  padding: 0;
}

.btn-cerrar_sesion,
.btn-borrar_cuenta {
  width: 100%; /* Ocupar todo el ancho del form */
  margin: 0;
}
